.chef-prof-detail {

  .container {
    background-color: rgba(17, 25, 40, 0.75);
    padding: 16px;
    min-height: 100vh;
  }

  .chef-pic img {
    display: block;
    width: 100%;
  }

  .chef-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .chef-description {
    // font-style: italic;
  }

  .chef-buttons {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 16px;
    }
  }

  dt {
    margin: 16px 0;
  }

  dd, dd span {
    font-size: 1rem;
  }

  dd span {
    display: inline-block;
    margin-bottom: 8px;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.width-80 {
  padding: 10px 30px;
}
