<div class="container-fluid mb-3 padding-200 form-container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <h2 class="text-center text-white">My bookings</h2>
      <table class="table booking-table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Location</th>
              <th scope="col">Status</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
      <% @bookings.each do |booking| %>
        <% chef_profile = ChefProfile.find(booking.chef_profile_id) %>
        <% chef = User.find(chef_profile.user_id) %>
            <tr>
              <td><%= booking.booking_date %></td>
              <td><%= booking.location %></td>
              <td><%= booking.status %></td>
              <td><%= link_to "View booking", booking_path(booking), class: 'btn btn-submit-small' %></td>
            </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
