<div class="footer">
  <div class="footer-links">
    <h5 class="text-center">Useful links</h5>
    <%= link_to "My profile →", "#" %>
    <%= link_to "Chef profiles →", "#" %>
    <%= link_to "My bookings →", "#" %>
  </div>
</div>
