<div class="footer">
  <ul class="footer-links">
    <li>
      <% if current_user.chef_profile%>
          <%= link_to "I’m a chef →", chef_profile_path(current_user.chef_profile), class: "nav-link" %>
        <% else %>
          <%= link_to "I’m a chef →", new_chef_profile_path, class: "nav-link" %>
        <% end %>
    </li>
    <li><%= link_to "Chef profiles →", chef_profiles_path %></li>
    <li><%= link_to "My bookings →", bookings_path %></li>
  </ul>
</div>
