.btn-ghost {
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 60px;
  border-radius: 0 50px 50px 0;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.9;
  color: #fff;
}
