.card-preview-index {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 5px;
  justify-content: center;

}

.card-preview img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.background-img {
  width: 100%;
}

.center-baseline {
  align-items: baseline ;
}

.jscard {
  background: transparent;
}

.card-index {
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( asset_url('banner.jpg'));

  }
}

.n-ppost-name {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    visibility: hidden;
    pointer-events: none;
}

.card-index:hover  .n-ppost-name {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    display: block;
}

.txt {
  color: white;
}
