.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon-grey {
  background-color: rgb(177, 177, 177);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  width: 100px;
  height: 70px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 18px;

  &:hover {
  border-bottom: rgb(252, 206, 120) solid 1px;
  color: white;
  }
}

i {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 8px;
  margin-left: 8px;
}
